body{


}
.container{
    background-color: #1f291f;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 20px;
    background-color: #1f291f;
    color: white;
    margin-bottom: 50px;
}

.logo{
    font-size: 24px;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 30px;

}

a{
    text-decoration: none;
    color: white;

}

.part2{
    display: flex;
    justify-content: space-between;
    background-color: #1f291f;
    color: white;
    padding: 20px;

}

.main-text{
    font-size: 48px;
    font-weight: 700;
}

.secondary-text{
    font-size: 18px;
    margin-bottom: 18px;
}

#img1{
    margin-left: 30px;
}