@font-face {font-family: "Harry Potter";
    src: url("//db.onlinewebfonts.com/t/0421d4186d6efbfc5331fe180895e780.eot");
    src: url("//db.onlinewebfonts.com/t/0421d4186d6efbfc5331fe180895e780.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/0421d4186d6efbfc5331fe180895e780.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/0421d4186d6efbfc5331fe180895e780.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/0421d4186d6efbfc5331fe180895e780.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/0421d4186d6efbfc5331fe180895e780.svg#Harry Potter") format("svg");
}
body{
    margin: 0%;
    
}
.container{
    background-image:url(./images/hogwarts-castle-.jpg);
    display: flex;
    justify-content: center;
    

    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 100%; /* Resize the background image to cover the entire container */
}

.container2{
    width: 70%;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 20px;

    margin-bottom: 50px;
}

.awesome{
    width: 50%;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-family: Harry Potter;
}

.logo, .action{
    font-size: 24px;
    color: #f9faf8;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 30px;

}


a{
    text-decoration: none;
    color: #e5e7eb;

}

.part2{
    display: flex;
    justify-content: space-between;


    padding: 20px;

}

.main-text{
    font-size: 48px;
    font-weight: 700;
    color: #ffffff;
    font-family: Harry Potter;
}

.secondary-text{
    font-size: 18px;
    margin-bottom: 18px;
    color: #ffffff;
    font-family: Harry Potter;
}

#img1{
    margin-left: 30px;
    max-width: 400px;
    
    
}

#signup1{
    color: rgb(255, 255, 255);
    background-color: #020618f3;
    padding: 10px 20px;

    border: none;
    box-shadow: 1px 1px 20px white;
    /*box-shadow: 10px 10px 20px #2a623d, -10px 10px 20px #ae0001, -10px -10px 20px #222f5b, 10px -10px 20px #ecb939  ;*/

}

#signup1:hover{

    color: #ffffff;
    cursor: pointer;
    background:linear-gradient(45deg,#2a623d,#ae0001,#222f5b, #ecb939);


}
.part3{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 50px 0px 100px;

    


}

.information{
   /* width: 70%;*/
}

.main-text2{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 36px;
    font-family: Harry Potter;
    color: #1f2937;
}

.collective-images{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

}

.info{
    max-width: 200px;
}

.part4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quotation{
    display: flex;
    width: 70%;
    padding: 3%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d3a625;
    border-radius: 20px;
}

.quote{
    font-size: 25px;
    font-weight: light;
    font-style: italic;
    color: #fdfdfd;
    margin-bottom: 20px;
}
.author{
    margin-left: auto;
    font-weight: bold;
}


.footer{
    display: flex;
    justify-content: space-between;
    background-color: #222f5b;
    margin: 80px;
    padding: 50px;
    border-radius: 20px;
}

.signup2{
    color: white;
    background-color: #222f5b;
    padding: 5px 30px;
    border-radius: 10px;
    border: 2px solid white;
    flex-grow: auto;
}

.footer .text{
    color: white;
}



